html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #111111;
  scroll-behavior: smooth;
}

.start-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #111111;
  position: relative;
  z-index: 1;
  opacity: 1;
  transition: opacity 1s ease-out;
  overflow: hidden;
}

svg {
  width: 80%;
  max-width: 600px;
}

text {
  fill: none;
  stroke: white;
  stroke-width: 0.5;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  font-family: Georgia, serif;
}

main {
  display: flex;
  flex-direction: column;
}

.container-home {
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: relative;
  z-index: 0;
}

.container-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 30px;
  color: white;
  padding: 10%;
}

.text-home-top {
  width: 50%;
}

.text-home-top h1 {
  font-size: 40px;
  margin-bottom: 20px;
  line-height: 1.3;
}

.text-home-top span {
  color: #4a8ccf;
  font-weight: bold;
}

.text-home-top p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
  color: #d1d1d1;
}

#baixarBtn {
  background: #4a8ccf;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

#baixarBtn:hover {
  background: #3670a0;
  transform: translateY(-2px);
}

.image-top-home {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image-top-home img {
  border-radius: 16px;
  max-width: 380px;
  width: 100%;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);
  object-fit: cover;
}

.carroseul-icons {
  width: 100%;
  height: 10vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: #00000075;
}

.icon {
  display: flex;
  gap: 45px;
}

.icon i {
  font-size: 50px;
  color: #383838e5;
}

.container-projects {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #111111;
}

.projects-title {
  width: 100%;
  padding-top: 5vh;
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 0;
}

.projects-title h1 {
  font-size: 38px;
  color: #707070;
}

/* .projects-body {
  width: 100%;
  padding: 2% 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

.projects-grid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 1%;
  gap: 1.5rem;
}

.card {
  background: #1d1d1d7c;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  margin: 3%;
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 100%;
  height: 80%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img:hover {
  transform: scale(1.1);
}

.card h2 {
  font-size: 1.2rem;
  margin: 1% 0;
  color: white;
  align-self: flex-start;
}

.card-buttons {
  display: flex;
  justify-content: start;
  gap: 0.5rem;
  width: 100%;
}

.card-buttons button {
  padding: 0.5rem 1rem;
  background: #4a8ccf;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.card-buttons button:hover {
  background: #0056b3;
  transform: translateY(-3px);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.contact-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #161616;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28rem;
}

.services-text,
.contact-info {
  flex: 1;
  min-width: 300px;
}

h2 {
  font-size: 2rem;
  color: #aaaaaa;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 0.5rem 0;
  color: #707070;
  display: flex;
  align-items: center;
  padding-bottom: 3%;
}

ul li i {
  margin-right: 0.5rem;
  font-size: 24px;
  color: #aaaaaa;
}

.social-links {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.social-links a {
  text-decoration: none;
  color: #707070;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #4a8ccf;
}

.estagio {
  color: #ffffff;
  margin-right: 0.8rem;
}

.tab-container {
  position: relative;
  margin-bottom: 5%;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  background-color: #1d1d1d7c;
  border-radius: 9px;
}

.indicator {
  content: "";
  width: 130px;
  border: 1px #4a8ccf solid;
  position: absolute;
  bottom: 2px;
  left: 2px;
  z-index: 9;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
  border-radius: 7px;
  transition: all 0.2s ease-out;
}

.tab {
  width: 130px;
  height: 34px;
  position: absolute;
  z-index: 99;
  outline: none;
  opacity: 0;
}

.tab_label {
  width: 130px;
  height: 34px;
  color: #ffffff;
  position: relative;
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;

  font-size: 1rem;
  opacity: 0.6;

  cursor: pointer;
}

.tab--1:checked ~ .indicator {
  left: 2px;
}

.tab--2:checked ~ .indicator {
  left: calc(130px + 2px);
}

.tab--3:checked ~ .indicator {
  left: calc(130px * 2 + 2px);
}

.tab--4:checked ~ .indicator {
  left: calc(130px * 3 + 2px);
}

.social-links {
  display: flex;
  gap: 15px;
  margin: 15px;
}

.social-links a {
  font-size: 28px;
  color: #c5c5c5;
  transition: color 0.3s ease, transform 0.2s ease;
}

.social-links a:hover {
  color: #0077b5; /* azul do LinkedIn */
  transform: scale(1.2);
}

.social-links a:nth-child(1):hover {
  color: #e4405f; /* Instagram */
}

.social-links a:nth-child(2):hover {
  color: #0077b5; /* LinkedIn */
}

.social-links a:nth-child(3):hover {
  color: #929292; /* GitHub */
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

/* Estilos básicos do modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: #161616;
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  position: relative;
  color: #aaaaaa;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}

.modal-content img {
  width: 100%;
  border-radius: 10px;
  display: none;
}

.tech-icons {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}

.tech-icons i {
  font-size: 30px;
  color: #aaaaaa;
}

.modal-links {
  display: flex;
  gap: 20px;
}

#modal-description {
  white-space: pre-line;
}

.modal-links a {
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  background: #007bff;
  color: white;
  border-radius: 5px;
  transition: 0.3s;
}

.modal-links a:hover {
  background: #0056b3;
}

header {
  display: none;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.title-header {
  width: 95%;
  text-align: center;
  color: #dadada;
}

#toggle-btn {
  background: none;
  border: none;
  font-size: 32px;
  cursor: pointer;
  padding: 10px;
  top: 0;
  left: 0;
  transition: transform 0.2s ease;
  color: #dadada;
}

#toggle-btn:hover {
  transform: scale(1.1);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.pagination button {
  padding: 6px 12px;
  border: none;
  background: #eee;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
}

.pagination button.active {
  background: #333;
  color: #fff;
}

.carousel-container {
  width: 100%;
  height: auto;
  padding: 1% 0;
  margin-top: 2%;
  overflow: hidden;
  align-content: center;
}

.title-carousel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1% 0;
  color: #707070;
}

title-carousel h1 {
  font-size: 38px;
  color: #707070;
}
.body-carousel {
  background-color: #00000075;
}

.carousel-track {
  display: flex;
  animation: scroll 50s linear infinite;
}

.carousel-item {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
  border-radius: 15px;
  padding: 15px;
  align-content: center;
}
.carousel-item img {
  width: 100%;
}

.testimonials-section {
  position: relative;
  padding-top: 4rem;
}

.testimonials-section::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.9;
  z-index: -1;
}

/* ======= Grid ======= */
.testimonials-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.cv-section {
  padding: 60px 20px;
}

.cv-container {
  max-width: 1100px;
  margin: 0 auto;
}

.cv-title {
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.cv-actions {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 40px;
}

.cv-btn {
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

.cv-btn-primary {
  background: #0077b5;
  color: white;
}

.cv-btn-primary:hover {
  background: #005f8c;
}

.cv-btn-outline {
  border: 2px solid #0077b5;
  color: #0077b5;
}

.cv-btn-outline:hover {
  background: #0077b5;
  color: white;
}

.cv-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

@media (min-width: 900px) {
  .cv-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.cv-card {
  background: rgba(0, 0, 0, 0.322);
  border: 1px solid #4a8ccf;
  transition: all 0.3s ease;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.cv-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

.cv-card-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #f5f5f5;
}

.cv-timeline .cv-item {
  border-left: 3px solid #0077b5;
  padding-left: 15px;
  margin-bottom: 20px;
}

.cv-timeline .cv-item h4 {
  font-size: 1.1rem;
  margin: 0;
  color: #ffffff;
}

.cv-company {
  font-weight: bold;
  display: block;
  margin-top: 2px;
  color: #e7e7e7;
}

.cv-period {
  font-size: 0.9rem;
  color: #0077b5;
  display: block;
  margin-bottom: 8px;
}

.cv-timeline p {
  font-size: 0.95rem;
  color: #ffffff;
  margin: 0;
}

.cv-certifications {
  margin-top: 30px;
}

.cv-cert-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cv-cert-list li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}

.cv-cert-list li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #0077b5;
  font-weight: bold;
}

@media (min-width: 768px) {
  .testimonials-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .testimonials-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ======= Cards ======= */
.testimonial-card {
  background: rgba(0, 0, 0, 0.322);
  border: 1px solid rgba(56, 56, 56, 0.5);
  padding: 1rem;
  border-radius: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);

  display: flex;
  flex-direction: column;
}

.testimonial-card:hover {
  border-color: #4a8ccf;
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

.testimonial-quote {
  font-size: 2rem;
  color: #4a8ccf;
  margin-bottom: 1rem;
}

.testimonial-content {
  font-style: italic;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  color: #aaaaaa;
}

/* ======= Autor ======= */
.testimonial-author {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.testimonial-author-name {
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffff;
}

.testimonial-author-role {
  font-size: 0.9rem;
  color: #e2e8f0;
}

.testimonial-author-company {
  font-size: 0.9rem;
  color: #4a8ccfee;
  font-weight: 500;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .text-home-top {
    width: 100%;
    padding-bottom: 5vh;
    text-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .text-home-top h1 {
    width: 80%;
    font-size: 32px;
    margin: 0;
  }

  .text-home-top p {
    width: 80%;
    font-size: 20px;
    margin: 0;
    text-align: justify;
  }

  .image-top-home {
    display: none;
  }

  .container-top {
    width: 100%;
    padding-top: 15vh;
    flex-direction: column;
    height: auto;
  }

  .container-projects {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #111111;
    margin-bottom: 100vh;
  }

  .card {
    background: #1d1d1d7c;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    margin: 3%;
    width: 90%;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card img {
    width: 100%;
    height: 80%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .container {
    gap: 2rem;
    flex-direction: column;
  }

  .social-links {
    flex-direction: column;
    gap: 1.5rem;
  }
}

/* Seção Principal */
.contact-section {
  padding: 60px 20px;
  background: linear-gradient(135deg, #272727, #1d1d1d7c);
  color: #f5f5f5;
  font-family: "Segoe UI", sans-serif;
}

/* Container */
.contact-container {
  max-width: 1100px;
  margin: 0 auto;
}

/* Título */
.contact-title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 50px;
  background: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Grid */
.contact-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

@media (min-width: 900px) {
  .contact-grid {
    grid-template-columns: 1fr 1fr;
  }
}
/* Footer */
.footer-section {
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 50px 20px;
  font-family: Arial, sans-serif;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-container {
  max-width: 1100px;
  margin: 0 auto;
}

.footer-info h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.footer-info p {
  font-size: 1rem;
  color: #ccc;
  line-height: 1.5;
  margin-bottom: 30px;
}

.info-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.info-item a {
  color: #4facfe;
  text-decoration: none;
}

.info-icon {
  width: 40px;
  height: 40px;
  background: rgba(79, 172, 254, 0.15);
  color: #4facfe;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.info-label {
  font-weight: bold;
  font-size: 0.95rem;
}

.info-value {
  font-size: 0.9rem;
  color: #aaa;
}

.footer-bottom {
  margin-top: 40px;
  text-align: center;
  font-size: 0.9rem;
  color: #888;
}

.footer-bottom strong {
  color: #4facfe;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  position: fixed;
  top: 0;
  margin-top: 10px;
  width: 30%;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.082);
  box-shadow: 0 8px 32px rgba(2, 110, 172, 0.233);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 50px;
  z-index: 999;
  transition: all 0.3s ease;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 50px;
  transition: 0.3s;
}

.nav-links li a:hover {
  background: rgba(255, 255, 255, 0.25);
}

/* Hamburger menu - mobile */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 4px;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: #fff;
  border-radius: 3px;
  transition: 0.3s;
}

#menu-toggle {
  display: none;
}
.navbar {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.navbar.show {
  opacity: 1;
}

@media (max-width: 768px) {
  .navbar {
    position: fixed;
    top: 0;
    margin-top: 40px;
    width: 15%;

    background: none;
    box-shadow: 0 8px 32px rgba(2, 110, 172, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 50px;
    z-index: 999;
    transition: all 0.3s ease;
  }
  .nav-links {
    position: fixed;
    top: 50px;
    left: 10px;
    background: rgb(0, 0, 0);
    backdrop-filter: blur(15px);
    flex-direction: column;
    width: 180px;
    padding: 0.8rem;
    border-radius: 50px;
    box-shadow: 0 8px 32px rgba(2, 110, 172, 0.233);
    display: none;
    z-index: 1000;
  }

  .nav-links li {
    margin-bottom: 0.5rem;
  }

  .nav-links li a {
    padding: 0.5rem 0.8rem;
    display: block;
    text-align: center;
  }

  #menu-toggle:checked + .hamburger + .nav-links {
    display: flex;
    animation: slideIn 0.3s ease forwards;
  }

  .hamburger {
    display: flex;
  }

  header {
    display: flex;
    align-items: start;
    justify-content: start;
  }

  /* animação suave */
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
