body {
  margin: 0;
  /* background-color: #c2c1c1; */
  background-color: #111111;
  scroll-behavior: smooth;
}

.start-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #111111;
  position: relative;
  z-index: 1;
  opacity: 1; /* Inicialmente visível */
  transition: opacity 1s ease-out; /* Transição de opacidade para desaparecer */
  overflow: hidden;
}

svg {
  width: 80%;
  max-width: 600px;
}

text {
  fill: none;
  stroke: white;
  stroke-width: 0.5;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  font-family: Georgia, serif;
}

main {
  display: flex;
  flex-direction: column;
}

.container-home {
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: relative;
  z-index: 0;
}

.container-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  gap: 20px;
  color: white;
}

.text-home-top {
  width: 45%;
}

.text-home-top h1 {
  width: 50%;
  font-size: 32px;
  margin: 0;
}

.text-home-top p {
  width: 80%;
  font-size: 20px;
  margin: 0;
  text-align: justify;
}

.carroseul-icons {
  width: 100%;
  height: 10vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: #00000075;
}

.icon {
  display: flex;
  gap: 45px;
}

.icon i {
  font-size: 50px;
  color: #383838e5;
}

.container-projects {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #111111;
  margin-bottom: 15vh;
}

.projects-title {
  width: 100%;
  padding-top: 5vh;
  display: flex;
  align-self: center;
  justify-content: center;
}

.projects-title h1 {
  font-size: 38px;
  color: #707070;
}

.projects-grid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;
}

.card {
  background: #1d1d1d7c;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  margin: 3%;
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 100%;
  height: 80%;
  /* background-color: #2c2c2c; */
  /* border-radius: 8px; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); */

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img:hover {
  transform: scale(1.1);
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, */
  /* rgba(0, 0, 0, 0.22) 0px 10px 10px; */
}

.card h2 {
  font-size: 1.2rem;
  margin: 1% 0;
  color: white;
  align-self: flex-start;
}

.card-buttons {
  display: flex;
  justify-content: start;
  gap: 0.5rem;
  width: 100%;
}

.card-buttons button {
  padding: 0.5rem 1rem;
  background: #4a8ccf;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-buttons button:hover {
  background: #0056b3;
  transform: translateY(-3px);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.contact-section {
  padding: 2rem;
  background-color: #161616;
  font-family: Arial, sans-serif;
  margin-bottom: 15vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}

.services-text,
.contact-info {
  flex: 1;
  min-width: 300px;
}

h2 {
  font-size: 2rem;
  color: #aaaaaa;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 0.5rem 0;
  color: #707070;
  display: flex;
  align-items: center;
}

ul li i {
  margin-right: 0.5rem;
  font-size: 20px;
  color: #aaaaaa; /* Ícones em azul */
}

.social-links {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.social-links a {
  text-decoration: none;
  color: #707070;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #4a8ccf;
}

h3 {
  color: #aaaaaa;
  margin-right: 0.8rem;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

/* Estilos básicos do modal */
.modal {
  display: none; /* Inicialmente oculto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: #161616;
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  position: relative;
  color: #aaaaaa;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}

/* Imagem do modal */
.modal-content img {
  width: 100%;
  border-radius: 10px;
}

/* Ícones das tecnologias */
.tech-icons {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}

.tech-icons i {
  font-size: 30px;
  color: #aaaaaa;
}

/* Links do modal */
.modal-links {
  display: flex;
  gap: 20px;
}

#modal-description {
  white-space: pre-line;
}

.modal-links a {
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  background: #007bff;
  color: white;
  border-radius: 5px;
  transition: 0.3s;
}

.modal-links a:hover {
  background: #0056b3;
}

header {
  display: flex;
  padding: 10px;
  position: fixed;
  width: 100%;
  height: 8vh;
  z-index: 1000;
}

.title-header {
  width: 95%;
  text-align: center;
  color: #dadada;
}

#toggle-btn {
  background: none;
  border: none;
  font-size: 32px;
  cursor: pointer;
  padding: 10px;
  top: 0;
  left: 0;
  transition: transform 0.2s ease;
  color: #dadada;
}

#toggle-btn:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .text-home-top {
    width: 100%;
    padding-bottom: 5vh;
    text-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .text-home-top h1 {
    width: 80%;
    font-size: 32px;
    margin: 0;
  }

  .text-home-top p {
    width: 80%;
    font-size: 20px;
    margin: 0;
    text-align: justify;
  }

  .image-top-home {
    display: none;
  }

  .container-top {
    width: 100%;
    padding-top: 15vh;
    flex-direction: column;
    height: auto;
  }

  .container-projects {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #111111;
    margin-bottom: 10vh;
  }

  .card {
    background: #1d1d1d7c;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    margin: 3%;
    width: 90%;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card img {
    width: 100%;
    height: 80%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .container {
    gap: 2rem;
    flex-direction: column;
  }

  .social-links {
    flex-direction: column;
    gap: 1.5rem;
  }
}
